*
{
    font-family: "Montserrat", sans-serif;
}

/* Card styles */
#title
{
    font-weight: 600;
    margin: 20px 0px 25px 0px;
    text-decoration: underline;
}

#card-item
{
    background-color: rgb(240, 240, 240);
}

#card-header-name
{
    background-color: rgb(240, 240, 240);
    font-size: 2rem;
    font-weight: 800;
}

.card-text
{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

#flag-image
{
    height: 180px;
    width: 100%;
    margin-bottom: 10px;
}

#button
{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#button:hover 
{
    color: white;
    background-color: black;
}














